name: Build and run smart contracts tests

on:
  push:

env:
  PROXY_ADMIN_ID: 0.0.78567
  PROXY_ADMIN_KEY: 302e020100300506032b6570042204200bf5b9ac3f3066f6046a778409891e9f2081c349b4cf8688d29023312cc2d632
  TREASURE_ID: 0.0.78619
  TREASURE_KEY: 302e020100300506032b657004220420c8cb72a0addffcbd898689e5b5641c0abff4399ddeb90a04071433e3724e14dd
  OPERATOR_ID: 0.0.78391
  OPERATOR_KEY: 302e020100300506032b65700422042014138f9d2fbcc9969d9efe28b7fc5281995587c2587ed62d19b78058241dd838
  CHILD_PROXY_ADMIN_ID: 0.0.60461
  CHILD_PROXY_ADMIN_KEY: 302e020100300506032b657004220420c372f05c182ae62e04603081f6abc8cbd3a712401e1d1f88401cf310c91f644b
  OPERATOR_ID_WITH_NO_GOD_TOKEN: 0.0.122857
  OPERATOR_KEY_WITH_NO_GOD_TOKEN: 3030020100300706052b8104000a042204202bf0fd85822d23c5924ee13e2d2cdca215777e15cd5c7f3f0f16f67fdc2b1ca7
  UI_USER_ID: 0.0.65816
  UI_USER_KEY: 302e020100300506032b657004220420899ec4fb7e8153a36bd37dd9500b9057982bf76bc1f0efa5b8cb170ee2329997

jobs:
  build:
    runs-on: [self-hosted, Linux, medium, ephemeral]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: Run test
        run: npx hardhat test
