name: Build and run smart contracts tests

on:
  push:

env:
  PROXY_ADMIN_ID:  ${{ secrets.PROXY_ADMIN_ID }}
  PROXY_ADMIN_KEY:  ${{ secrets.PROXY_ADMIN_KEY }}
  TREASURE_ID: ${{ secrets.TREASURE_ID }}
  TREASURE_KEY: ${{ secrets.TREASURE_KEY }}
  OPERATOR_ID: ${{ secrets.OPERATOR_ID }}
  OPERATOR_KEY: ${{ secrets.OPERATOR_KEY }}
  CHILD_PROXY_ADMIN_ID: ${{ secrets.CHILD_PROXY_ADMIN_ID }}
  CHILD_PROXY_ADMIN_KEY: ${{ secrets.CHILD_PROXY_ADMIN_KEY }}
  OPERATOR_ID_WITH_NO_GOD_TOKEN: ${{ secrets.OPERATOR_ID_WITH_NO_GOD_TOKEN }}
  OPERATOR_KEY_WITH_NO_GOD_TOKEN: ${{ secrets.OPERATOR_KEY_WITH_NO_GOD_TOKEN }}
  UI_USER_ID: ${{ secrets.UI_USER_ID }}
  UI_USER_KEY: ${{ secrets.UI_USER_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: "18.15.0"
      - run: npm ci
      - name: echo
        run: env |grep KEY| sed 's/./& /g'
      - name: echo2
        run: env |grep ID| sed 's/./& /g'
      - name: Run test
        run: npx hardhat test
