name: Build and run smart contracts tests

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: "18.15.0"
          check-latest: true
      - run: npm ci
      - name: Run coverage
        run: npx hardhat coverage --verbose
