name: Deploy a contract to testnet using dispatch
on:
  workflow_dispatch:
    inputs:
      contractName:
        type: choice
        description: Please select the contract
        required: true
        options:
          - Factory
          - FTDAOFactory
          - NFTDAOFactory
          - MultisigDAOFactory
          - GODTokenHolderFactory
          - NFTTokenHolderFactory
          - Configuration
      contractType:
        type: choice
        description: Please select the type
        required: true
        options:
          - Logic
          - Proxy
          - Upgrade
env:
  PROXY_ADMIN_ID: 0.0.78567
  PROXY_ADMIN_KEY: 302e020100300506032b6570042204200bf5b9ac3f3066f6046a778409891e9f2081c349b4cf8688d29023312cc2d632
  TREASURE_ID: 0.0.78619
  TREASURE_KEY: 302e020100300506032b657004220420c8cb72a0addffcbd898689e5b5641c0abff4399ddeb90a04071433e3724e14dd
  OPERATOR_ID: 0.0.78391
  OPERATOR_KEY: 302e020100300506032b65700422042014138f9d2fbcc9969d9efe28b7fc5281995587c2587ed62d19b78058241dd838
  CHILD_PROXY_ADMIN_ID: 0.0.60461
  CHILD_PROXY_ADMIN_KEY: 302e020100300506032b657004220420c372f05c182ae62e04603081f6abc8cbd3a712401e1d1f88401cf310c91f644b
  OPERATOR_ID_WITH_NO_GOD_TOKEN: 0.0.122857
  OPERATOR_KEY_WITH_NO_GOD_TOKEN: 3030020100300706052b8104000a042204202bf0fd85822d23c5924ee13e2d2cdca215777e15cd5c7f3f0f16f67fdc2b1ca7
  UI_USER_ID: 0.0.65816
  UI_USER_KEY: 302e020100300506032b657004220420899ec4fb7e8153a36bd37dd9500b9057982bf76bc1f0efa5b8cb170ee2329997

jobs:
  build:
    runs-on: defi-dex-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: Run code coverage
        run: npx hardhat coverage

      - name: Save user inputs
        uses: jsdaniell/create-json@b8e77fa01397ca39cc4a6198cc29a3be5481afef # v1.2.3
        id: create-json
        with:
          name: "deployment/scripts/workflow-inputs.json"
          json: ${{ toJSON(github.event.inputs) }}

      - name: Deploy
        run: npx hardhat run deployment/scripts/createContract.ts;

      - name: Clear user inputs
        run: rm "deployment/scripts/workflow-inputs.json"

      - name: Reformat code before auto commit
        run: npm run code-format && git add -A

      - name: Perform auto-commit action
        uses: stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842 # v5.0.1
        with:
          file_pattern: deployment/state/contracts.json
          commit_message: ${{ github.event.inputs.contractName }} deployed from github action
          push_options: "--force"
          skip_dirty_check: false
          skip_fetch: true
          skip_checkout: true
          create_branch: false
