name: Deploy contract to testnet and run e2e-test
on:
  pull_request:
    types: opened
    branches: temp-develop
  push:
    branches:temp-develop

env:
  OPERATOR_ID: 0.0.47710057
  OPERATOR_KEY: 3030020100300706052b8104000a04220420d38b0ed5f11f8985cd72c8e52c206b512541c6f301ddc9d18bd8b8b25a41a80f
  ADMIN_ID: 0.0.47710057
  ADMIN_KEY: 3030020100300706052b8104000a04220420d38b0ed5f11f8985cd72c8e52c206b512541c6f301ddc9d18bd8b8b25a41a80f
  TREASURE_ID: 0.0.47645191
  TREASURE_KEY: 308ed38983d9d20216d00371e174fe2d475dd32ac1450ffe2edfaab782b32fc5
  TOKEN_USER_ID: 0.0.49288723
  TOKEN_USER_KEY: 2cc790b009e400a3ed97363980ae27ddfb58102fa8fb7c1a7b69e212f756c084
  DEX_CONTRACT_OWNER_ID:  0.0.47658645
  DEX_CONTRACT_OWNER_KEY: 5ba74643bb51e12a173c95c7daadfa81d2a939ea1b35f450a2207ad9e5f22dd7

jobs:
  build:
    if: github.event.action == 'opened' 
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm ci
      - name: Running build and deployment
        run:  bash ./e2e-test.sh Pair Logic ${{ env.OPERATOR_ID }} ${{ env.OPERATOR_KEY }} ${{ env.TREASURE_ID }} ${{ env.TREASURE_KEY }} ${{ env.TOKEN_USER_ID }} ${{ env.TOKEN_USER_KEY }} ${{ env.DEX_CONTRACT_OWNER_ID }} ${{ env.DEX_CONTRACT_OWNER_KEY }}