name: Deploy contract to testnet and run e2e-test
on:
  workflow_dispatch:
  pull_request:
    types: [opened]
    branches: [develop]
  push:
    branches: [develop]

env:
  PROXY_ADMIN_ID: 0.0.78567
  PROXY_ADMIN_KEY: 302e020100300506032b6570042204200bf5b9ac3f3066f6046a778409891e9f2081c349b4cf8688d29023312cc2d632
  TREASURE_ID: 0.0.78619
  TREASURE_KEY: 302e020100300506032b657004220420c8cb72a0addffcbd898689e5b5641c0abff4399ddeb90a04071433e3724e14dd
  OPERATOR_ID: 0.0.78391
  OPERATOR_KEY: 302e020100300506032b65700422042014138f9d2fbcc9969d9efe28b7fc5281995587c2587ed62d19b78058241dd838
  CHILD_PROXY_ADMIN_ID: 0.0.60461
  CHILD_PROXY_ADMIN_KEY: 302e020100300506032b657004220420c372f05c182ae62e04603081f6abc8cbd3a712401e1d1f88401cf310c91f644b
  OPERATOR_ID_WITH_NO_GOD_TOKEN: 0.0.122857
  OPERATOR_KEY_WITH_NO_GOD_TOKEN: 3030020100300706052b8104000a042204202bf0fd85822d23c5924ee13e2d2cdca215777e15cd5c7f3f0f16f67fdc2b1ca7
  UI_USER_ID: 0.0.65816
  UI_USER_KEY: 302e020100300506032b657004220420899ec4fb7e8153a36bd37dd9500b9057982bf76bc1f0efa5b8cb170ee2329997

jobs:
  Factory-And-Pair:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: Save user inputs
        uses: jsdaniell/create-json@b8e77fa01397ca39cc4a6198cc29a3be5481afef # v1.2.3
        id: create-json
        with:
          name: "deployment/scripts/workflow-inputs.json"
          json: '{"contracts":"LPToken,Pair,Factory"}'

      - name: Deployment
        run: npx hardhat run deployment/scripts/createContractsE2E.ts;

      - name: e2e
        run: npm run e2e-test suite-one

  MultiSig-DAO:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: Save user inputs
        uses: jsdaniell/create-json@b8e77fa01397ca39cc4a6198cc29a3be5481afef # v1.2.3
        id: create-json
        with:
          name: "deployment/scripts/workflow-inputs.json"
          json: '{"contracts":"MultiSigDAO,MultisigDAOFactory"}'

      - name: Deployment
        run: npx hardhat run deployment/scripts/createContractsE2E.ts;

      - name: e2e
        run: npm run e2e-test suite-two

  FT-Governor-Negative:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-three

  NFT-Governor-Negative:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-four

  FT-Governor-Others:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-five

  NFT-Governor-Others:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-six

  FT-Governor-Transfer:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38
      UI_USER_ID: 0.0.405652
      UI_USER_KEY: 302e020100300506032b6570042204208e8fe8f694707f2e578f5ced24304a5190b59ef014a0b978d9db0732eaf6445d

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-seven

  NFT-Governor-Transfer:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38
      UI_USER_ID: 0.0.405576
      UI_USER_KEY: 302e020100300506032b6570042204202cc790b009e400a3ed97363980ae27ddfb58102fa8fb7c1a7b69e212f756c084

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-eight

  FT-NFT-DAOFactory:
    if: github.event.action == 'opened' || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, Linux, medium, ephemeral]
    env:
      TREASURE_ID: 0.0.114910
      TREASURE_KEY: 302e020100300506032b6570042204204f28140b19a330b04f173fcc5f63b0282ce80e6f4e5dc893b70fd9686c9e1c38

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "18.15.0"

      - name: Setup npm
        run: npm ci

      - name: e2e
        run: npx hardhat compile && npm run e2e-test suite-nine
