name: Deploy contract using node

on:
  push:

env:
  COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
  OPERATOR_ID: 0.0.47710057
  OPERATOR_KEY: 3030020100300706052b8104000a04220420d38b0ed5f11f8985cd72c8e52c206b512541c6f301ddc9d18bd8b8b25a41a80f
  ADMIN_ID: 0.0.47710057
  ADMIN_KEY: 3030020100300706052b8104000a04220420d38b0ed5f11f8985cd72c8e52c206b512541c6f301ddc9d18bd8b8b25a41a80f
  TREASURE_ID: 0.0.47645191
  TREASURE_KEY: 308ed38983d9d20216d00371e174fe2d475dd32ac1450ffe2edfaab782b32fc5

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: Running entry point
        run:  bash ./entrypoint.sh "${{ env.COMMIT_MESSAGE }}" ${{ env.OPERATOR_ID }} ${{ env.OPERATOR_KEY }} ${{ env.TREASURE_ID }} ${{ env.TREASURE_KEY }} 
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: deployment/state/contracts.json
          commit_message: Updating contract record  
          push_options: '--force'
          skip_dirty_check: false
          skip_fetch: true
          skip_checkout: true
          create_branch: false
        
