name: Slither Analysis

on:
  workflow_dispatch:
  push:
    branches: [develop]    
jobs:
  analyze:
    runs-on: defi-dex-linux-medium
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Run Slither
        uses: crytic/slither-action@f197989dea5b53e986d0f88c60a034ddd77ec9a8 # 0.4.0
        id: slither
        with:
          node-version: 18.15.0
          sarif: results.sarif
          fail-on: none

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@a57c67b89589d2d13d5ac85a9fc4679c7539f94c # v2.17.3
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}